     body {
      background-color: black;
       font-family: monospace;
       text-align: center;
       color: white;
      }
      div.container{
        text-align:center;
      }
      ul.things-ul{
      display: inline-block;
        text-align: left;
      }
      a:link, a:visited {
            color:white;
        }

        a:hover {
            color: rgb(201, 201, 201);
        }
#footer {
border: 2px solid white;
}
